# Application
VITE_API_APP_NAME=your-app-name
VITE_API_BASE_URL="https://your-api-url.com/api/"
VITE_AI_API_BASE_URL="https://your-ai-api-url.com/"
VITE_API_IMAGE_BASE_URL="/assets/images/"

# Google OAuth & Maps
VITE_GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
VITE_GOOGLE_MAP_KEY="your-google-maps-api-key"

# AWS
VITE_API_AWS_BASE_URL="https://your-s3-bucket.s3.region.amazonaws.com/"

# Build
GENERATE_SOURCEMAP=false
